Body{
    text-align: center;
}
header{
    border-style:ridge;
    border-width: 1px;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    background-color: #1B4242;
    color: antiquewhite;
    margin-left: 300px;
    margin-right: 300px;
    box-shadow: #092635;
}
header h1{
    background-color: #092635;
    color: antiquewhite;
    font-family:inherit;
}
header h4 {
    margin-top: 10px;
    margin-bottom: 2px;
}
header p{
    margin-bottom: 10px;
    margin-top: 9px;
}
h2{
    background-color:beige ;
    margin-left: 300px;
    margin-right: 300px;
    margin-top: 10px;
}
