header{
    border-style:ridge;
    border-width: 1px;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    background-color: #1B4242;
    color: antiquewhite;
    margin-left: 300px;
    margin-right: 300px;
    box-shadow: #092635;
    text-align:center;
}
header h1{
    background-color: #092635;
    color: antiquewhite;
    font-family:inherit;
}
header h3 {
    margin-top: 10px;
    margin-bottom: 2px;
}
header p{
    margin-bottom: 10px;
    margin-top: 9px;
}
h2{
    margin-left: 300px;
    margin-right: 300px;
    margin-top: 10px;
    text-align: center;
}
.rumusPersegi{
    text-align: center;
    background-color:hsl(98, 33%, 84%);
    margin-left: 300px;
    margin-right: 300px;
    padding: 10px;
}
.inputSection{
    margin-left: 300px;
    margin-right: 300px;
    margin-top: 10px;
    text-align: center;
    box-shadow: #092;
    padding: 15px;
    background-color:#1B4242;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    color: beige;
}
#squareSide{
    border-radius: 10px;
    padding: 10px;
    text-align: center;
}
.countButton{
    background-color: hsl(98, 46%, 73%);
    margin-left: 300px;
    margin-right: 300px; 
    margin-top: 20px;
    padding: 10px;
}
button{
    background-color:mediumseagreen;
    color:aliceblue;
    border: none;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
}
button:hover{
    background-color: #30864a;
    transform: translateY(2px);
}
#clearButton{
    margin-left: 600px;
}
#tableRumus{
    width:100%;
    border:1px solid black;
    text-align: center;
}